<container>
    <wrapper class="secondary">
        <spacer size="30"></spacer>
        <p class="text-center footer-text">
            Об онлайн-обучении с любовью | <a href="https://vk.com/infohitru" target="_blank">Мы ВКонтакте</a>
        </p>

        <row class="bottom-links">
            <columns large="4">
                <a href="https://info-hit.ru/catalog/" target="_blank">Каталог курсов</a>
            </columns>
            <columns large="4">
                <a href="https://info-hit.ru/events/" target="_blank">События скоро</a>
            </columns>
            <columns large="4">
                <a href="https://info-hit.ru/authors/" target="_blank">Авторы и тренеры</a>
            </columns>
        </row>

        <p class="text-center footer-text">
            Вы получили это письмо так как подписаны на рассылку сайта info-hit.ru
            Если&nbsp;информация&nbsp;более не актуальна для вас, пожалуйста отпишитесь от&nbsp;нее&nbsp;нажав на&nbsp;ссылку ниже.
        </p>
        <p class="text-center footer-text">
            <a href="#UNSUBSCRIBE_LINK#">Отписаться от рассылки</a>
        </p>
    </wrapper>
</container>