<container>
    <wrapper class="secondary header">
        <row class="collapse">
            <columns large="4" small="6">
                <a href="https://info-hit.ru" target="_blank"><img src="https://info-hit.ru/include/images/letter/logo-subscribe.png" alt="ИнфоХит"></a>
            </columns>
            <columns class="right" large="6" small="6">
                <spacer size="30"></spacer>
                <a class="unsub" href="#UNSUBSCRIBE_LINK#">Отписаться</a>
            </columns>
        </row>
        <spacer size="5"></spacer>
    </wrapper>
</container>